{% extends "student/base_student_dashboard.html" %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="card-title mb-0">Danh sách lớp học</h3>
                <strong class="current-date">{{ current_date|date:"d/m/Y" }}</strong>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th class="text-center" scope="col">Thứ</th>
                <th scope="col">Môn Học</th>
                <th class="text-center" scope="col">Ngày bắt đầu</th>
                <th class="text-center" scope="col">Ngày gian kết thúc</th>
                <th class="text-center" scope="col">Số buổi đi học / Số buổi trễ / Số buổi vắng</th>
                <th class="text-center" scope="col">Điểm chuyên cần hiện tại</th>
                <th class="text-center" scope="col">Trạng thái</th>
            </tr>
            </thead>
            <tbody>
            {% for score in attendance_scores %}
                <tr>
                    <td class="text-center">
                        {% if score.classroom.day_of_week_begin == 7 %}
                            Chủ Nhật
                        {% elif score.classroom.day_of_week_begin == 1 %}
                            Thứ Hai
                        {% elif score.classroom.day_of_week_begin == 2 %}
                            Thứ Ba
                        {% elif score.classroom.day_of_week_begin == 3 %}
                            Thứ Tư
                        {% elif score.classroom.day_of_week_begin == 4 %}
                            Thứ Năm
                        {% elif score.classroom.day_of_week_begin == 5 %}
                            Thứ Sáu
                        {% elif score.classroom.day_of_week_begin == 6 %}
                            Thứ Bảy
                        {% endif %}
                    </td>
                    <td>{{ score.classroom.name }}</td>
                    <td class="text-center">{{ score.classroom.begin_date|date:"d/m/Y" }}</td>
                    <td class="text-center">{{ score.classroom.end_date|date:"d/m/Y" }}</td>
                    <td class="text-center">
                        {{ score.total_attendance_present }}
                        / {{ score.late_count }}
                        / {{ score.absent_count }}
                    </td>
                    <td class="text-center">
                        {{ score.total_attendance_percentage }}
                    </td>
                    <td class="text-center">
                        {% if score.total_number_attendance != 9 %}
                            <span class="text-center badge bg-warning">Đang trong quá trình học</span>
                        {% elif score.absent_count > 2 %}
                            <span class="text-center badge bg-danger">Nghỉ quá quy định</span>
                        {% else %}
                            <span class="text-center badge bg-success">Bình thường</span>
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr class="text-center text-danger">
                    <td colspan="5"><strong>Lớp học hiện tại đang được cập nhật!</strong></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination justify-content-center">
            <ul class="pagination">
                {% if attendance_scores.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">‹‹</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ attendance_scores.previous_page_number }}">‹</a>
                    </li>
                {% endif %}

                {% for i in attendance_scores.paginator.page_range %}
                    {% if attendance_scores.number == i %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% elif i > attendance_scores.number|add:'-3' and i < attendance_scores.number|add:'3' %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if attendance_scores.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ attendance_scores.next_page_number }}">›</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ attendance_scores.paginator.num_pages }}">››</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="text-center">
            <p>Trang {{ attendance_scores.number }} / {{ attendance_scores.paginator.num_pages }}</p>
        </div>
    </div>
{% endblock %}
