<div id="captureStudentModal" tabindex="-1" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chụp hình ảnh nhận diện</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" class="captureStudentForm" id="captureStudentForm" action="">
                    {% csrf_token %}
                    <div class="mb-3 form-group row d-flex justify-content-center">
                        <label for="id_student_capture" class="col-sm-2 control-label col-form-label">
                            Mã sinh viên
                        </label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="number" class="form-control" name="id_student_capture"
                                       id="id_student_capture" required readonly>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group row d-flex justify-content-center">
                        <label for="student_name_capture" class="col-sm-2 control-label col-form-label">
                            Tên sinh viên
                        </label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" name="student_name_capture"
                                       id="student_name_capture" required readonly>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group row d-flex justify-content-center">
                        <label for="email_capture" class="col-sm-2 control-label col-form-label">Email</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" name="email_capture" id="email_capture" required
                                       readonly>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group row d-flex justify-content-center">
                        <label for="phone_capture" class="col-sm-2 control-label col-form-label">Số điện thoại</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" name="phone_capture" id="phone_capture" required
                                       readonly>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group row d-flex justify-content-center">
                        <label for="address_capture" class="col-sm-2 control-label col-form-label">Địa chỉ</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" name="address_capture" id="address_capture"
                                       required readonly>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group row d-flex justify-content-center">
                        <label for="birthday_capture" class="col-sm-2 control-label col-form-label">Ngày sinh</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" id="birthday_capture" name="birthday_capture"
                                       placeholder="dd/mm/yyyy" readonly/>
                                <div class="input-group-append">
                                    <span class="input-group-text h-100"><i class="mdi mdi-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group row d-flex justify-content-center">
                        <label for="PathImageFolder_capture"
                               class="col-sm-2 control-label col-form-label">PathImageFolder</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" name="PathImageFolder_capture"
                                       id="PathImageFolder_capture"
                                       required readonly>
                            </div>
                        </div>
                    </div>

                    <img id="video-feed_student" style="width:100%"
                         src="https://www.womanthology.co.uk/wp-content/uploads/2017/06/facescan.gif"
                         alt="Live Video Feed"/>

                </form>
            </div>
        </div>
    </div>
</div>