<div id="addNewStudentModal" tabindex="-1" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm Sinh Viên</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addStudentForm" method="POST" action="{% url 'admin_student_add' %}">
                    {% csrf_token %}
                    <div class="mb-3 form-group row d-flex justify-content-center">
                        <label for="id_student" class="col-sm-2 control-label col-form-label">Mã Sinh Viên:</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="number" class="form-control" name="id_student" id="id_student" required>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group row d-flex justify-content-center">
                        <label for="student_name" class="col-sm-2 control-label col-form-label">Tên sinh siên:</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" name="student_name" id="student_name" required>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group row d-flex justify-content-center">
                        <label for="email" class="col-sm-2 control-label col-form-label">Email:</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group row d-flex justify-content-center">
                        <label for="phone" class="col-sm-2 control-label col-form-label">Số điện thoại:</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" name="phone" id="phone" required>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group row d-flex justify-content-center">
                        <label for="address" class="col-sm-2 control-label col-form-label">Địa chỉ:</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" name="address" id="address" required>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group row d-flex justify-content-center">
                        <label for="birthday" class="col-sm-2 control-label col-form-label">Ngày sinh:</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" id="birthday" name="birthday"
                                       placeholder="dd/mm/yyyy"/>
                                <div class="input-group-append">
                                    <span class="input-group-text h-100"><i class="mdi mdi-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group row d-flex justify-content-center">
                        <label for="PathImageFolder"
                               class="col-sm-2 control-label col-form-label">PathImageFolder:</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" name="PathImageFolder" id="PathImageFolder"
                                       required readonly>
                            </div>
                        </div>
                    </div>
                    <img id="video-feed" style="width:100%"
                         src="https://www.womanthology.co.uk/wp-content/uploads/2017/06/facescan.gif"
                         alt="Live Video Feed"/>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-success text-white" id="addStudentButton">Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>









