<div id="addListStudentInClassModal" tabindex="-1" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm danh sách sinh viên vào lớp học</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addStudentIntoClassroomForm" method="POST"
                      action="{% url 'admin_list_student_in_class_add_list' classroom_id=classroom_id %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class=" col-6 mb-3 form-group row d-flex justify-content-center">
                        <label for="file_path" class="col-sm-3 control-label col-form-label">Chọn file:</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="file" id="file_path" name="file_path">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                        <button type="submit" onclick="addStudents()" class="btn btn-success text-white">Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

