<div id="confirmDeleteModal" tabindex="-1" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Xác nhận xóa</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa lớp học có Mã: <span id="classroomIdToDelete"></span>?</p>
            </div>
            <div class="modal-footer">
                <button id="closeModal" type="button" class="btn btn-default" data-bs-dismiss="modal">Hủy</button>
                <a id="confirmDeleteButton" href="javascript:void(0)" class="btn btn-danger">Xóa</a>
            </div>
        </div>
    </div>
</div>