<div id="addNewLecturerModal" tabindex="-1" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm giảng viên</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" class="addLecturerForm" id="addLecturerForm"
                      action="{% url 'admin_lecturer_add' %}">
                    {% csrf_token %}
                    <div class="mb-3 form-group row d-flex justify-content-center">
                        <label for="id_lecturer" class="col-sm-3 control-label col-form-label">Mã giảng viên</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" name="id_lecturer" id="id_lecturer" required>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group row d-flex justify-content-center">
                        <label for="lecture_name" class="col-sm-3 control-label col-form-label">
                            Họ tên giảng viên
                        </label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" name="lecturer_name" id="lecture_name" required>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group row d-flex justify-content-center">
                        <label for="email" class="col-sm-3 control-label col-form-label">Email</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group row d-flex justify-content-center">
                        <label for="phone" class="col-sm-3 control-label col-form-label">Số điện thoại</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" name="phone" id="phone" required>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group row d-flex justify-content-center">
                        <label for="address" class="col-sm-3 control-label col-form-label">Địa chỉ</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" name="address" id="address" required>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group row d-flex justify-content-center">
                        <label for="birthday" class="col-sm-3 control-label col-form-label">Ngày sinh</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" id="birthday" name="birthday"
                                       placeholder="dd/mm/yyyy"/>
                                <div class="input-group-append">
                                    <span class="input-group-text h-100"><i class="mdi mdi-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-success text-white">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>