<div id="editStudentModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chỉnh sửa thông tin sinh viên</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'admin_student_edit' '1' %}">
                    {% csrf_token %}
                    <div class="mb-3 form-group row d-flex justify-content-center">
                        <label for="id_student" class="col-sm-2 control-label col-form-label">Mã Sinh Viên:</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" name="id_student" id="id_student"
                                       value="{{ student.id_student }}" required>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group row d-flex justify-content-center">
                        <label for="student_name" class="col-sm-2 control-label col-form-label">Tên Sinh Viên:</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" name="student_name" id="student_name"
                                       value="{{ student.student_name }}" required>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group row d-flex justify-content-center">
                        <label for="email" class="col-sm-2 control-label col-form-label">Email:</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" name="email" id="email"
                                       value="{{ student.email }}" required>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group row d-flex justify-content-center">
                        <label for="phone" class="col-sm-2 control-label col-form-label">Số điện thoại:</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" name="phone" id="phone"
                                       value="{{ student.phone }}" required>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group row d-flex justify-content-center">
                        <label for="address" class="col-sm-2 control-label col-form-label">Địa chỉ:</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" name="address" id="address"
                                       value="{{ student.address }}" required>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group row d-flex justify-content-center">
                        <label for="birthday" class="col-sm-2 control-label col-form-label">Ngày sinh:</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" id="birthday" name="birthday"
                                       placeholder="dd/mm/yyyy" value="{{ student.birthday|date:"d/m/Y" }}" required/>
                                <div class="input-group-append">
                                    <span class="input-group-text h-100"><i class="mdi mdi-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group row d-flex justify-content-center">
                        <label for="PathImageFolder"
                               class="col-sm-2 control-label col-form-label">PathImageFolder:</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" name="PathImageFolder" id="PathImageFolder"
                                       value="{{ student.PathImageFolder }}" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-success text-white">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
