{% extends "admin/base_admin_dashboard.html" %}

{% load static %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h3 class="card-title mb-3">Danh sách sinh viên</h3>
            <div class="d-flex justify-content-between mb-3">
                <div class="text-nowrap">
                    <a href="#" class="btn btn-success mdi mdi-account-plus text-white" id="addStudent">
                        Thêm sinh viên
                    </a>
                    <button type="button" class="btn btn-danger mdi mdi-account-plus text-white" id="train-button">
                        Train
                    </button>
                </div>
                <div class="input-group-addon">
                    <input type="text" class="form-control" placeholder="Tìm kiếm...">
                </div>
            </div>
            <div id="result"></div>
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead class="text-nowrap">
                <tr>
                    <th class="text-center" scope="col">MSSV</th>
                    <th scope="col">Họ và tên</th>
                    <th scope="col">Email</th>
                    <th class="text-center" scope="col">Số điện thoại</th>
                    <th scope="col">Địa chỉ</th>
                    <th class="text-center" scope="col">Ngày sinh</th>
                    <th class="text-center" scope="col">Đường dẫn ảnh</th>
                    <th class="text-center" scope="col">Thao tác</th>
                </tr>
                </thead>
                <tbody class="customtable text-nowrap">
                {% for student in list_students %}
                    <tr>
                        <td class="text-center">{{ student.id_student }}</td>
                        <td>{{ student.student_name }}</td>
                        <td>{{ student.email }}</td>
                        <td class="text-center">{{ student.phone }}</td>
                        <td>{{ student.address }}</td>
                        <td class="text-center">{{ student.birthday|date:"d/m/Y" }}</td>
                        <td class="text-center">{{ student.PathImageFolder }}</td>
                        <td class="text-center">
                            <a href="#" class="btn btn-warning btn-sm mdi mdi-account-capture"
                               id="capture" onclick="capture({{ student.id_student }})">Chụp hình</a>
                            <a href="#" class="btn btn-danger btn-sm mdi mdi-delete" id="deleteStudent"
                               onclick="confirmDeleteStudent({{ student.id_student }})">Xóa</a>
                            <a href="#" class="btn btn-primary btn-sm mdi mdi-account-edit"
                               onclick="editStudent({{ student.id_student }})">Sửa</a>


                        </td>
                    </tr>
                    {% include 'admin/modal-popup/popup_edit_student.html' %}
                {% empty %}
                    <tr class="text-center text-danger">
                        <td colspan="10"><strong>Không tồn tại sinh viên nào trong cơ sở dữ liệu!</strong></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="pagination justify-content-center">
            <ul class="pagination">
                {% if list_students.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">‹‹</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ list_students.previous_page_number }}">‹</a>
                    </li>
                {% endif %}

                {% for i in list_students.paginator.page_range %}
                    {% if list_students.number == i %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% elif i > list_students.number|add:'-3' and i < list_students.number|add:'3' %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if list_students.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ list_students.next_page_number }}">›</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ list_students.paginator.num_pages }}">››</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="text-center">
            <p>Trang {{ list_students.number }} / {{ list_students.paginator.num_pages }}</p>
        </div>
    </div>
    {% include 'admin/modal-popup/popup_add_student.html' %}
    {% include 'admin/modal-popup/popup_delete_student.html' %}
    {% include 'admin/modal-popup/popup_capture_student.html' %}

{% endblock %}

{% block js %}
    <script src="{% static '' %}assets/js/manage-student.js"></script>
    <script>
        function confirmDeleteStudent(studentId) {
            let deleteUrl = "{% url 'admin_student_delete' '1' %}".replace('1', studentId);
            $('#confirmDeleteButton').attr('href', deleteUrl);
            $('#confirmDeleteModal').modal('show');
            $('#studentIdToDelete').text(studentId);
        }

        function editStudent(studentId) {
            let id_student = studentId
            let editForm = $('#editStudentForm');
            editForm.attr('action', "{% url 'admin_student_edit' 0 %}".replace('0', studentId));

            $.ajax({
                type: "GET",
                url: "{% url 'admin_student_get_info' '1' %}".replace('1', id_student),
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    $('#id_student_edit').val(data.student.id_student);
                    $('#student_name_edit').val(data.student.student_name);
                    $('#email_edit').val(data.student.email);
                    $('#phone_edit').val(data.student.phone);
                    $('#address_edit').val(data.student.address);
                    $('#birthday_edit').val(data.student.birthday);
                    $('#PathImageFolder_edit').val(data.student.PathImageFolder);
                    $('#editStudentModal').modal('show');
                },
            })
        }

        function capture(studentId) {
            let id_student = studentId;

            $.ajax({
                type: "GET",
                url: "{% url 'admin_student_get_info' '1' %}".replace('1', id_student),
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    $('#id_student_capture').val(data.student.id_student);
                    $('#student_name_capture').val(data.student.student_name);
                    $('#email_capture').val(data.student.email);
                    $('#phone_capture').val(data.student.phone);
                    $('#address_capture').val(data.student.address);
                    $('#birthday_capture').val(data.student.birthday); // Fixed line
                    $('#PathImageFolder_capture').val('./main/Dataset/FaceData/processed/' + id_student);
                    $('#captureStudentModal').modal('show');

                },
            });
            let isCheckingCapture = false;
            let captureIntervalId;

            const videoElement = document.getElementById('video-feed_student');

            if (!isCheckingCapture) {
                videoElement.src = `/admin/student-management/live_video_feed/${id_student}`;

                // Start checking capture status
                captureIntervalId = setInterval(() => {
                    fetch("/admin/student-management/check_capture_status/") // Replace with the correct URL
                        .then(response => response.json())
                        .then(data => {
                            if (data.capture_status === 1) {
                                alert("Capture Success");
                                let captureForm = $('#captureStudentForm');
                                captureForm.attr('action', "{% url 'admin_student_capture' 0 %}".replace('0', studentId));
                                captureForm.submit();

                                clearInterval(captureIntervalId);
                                isCheckingCapture = false;
                            }
                        })
                        .catch(error => {
                            console.error("Error:", error);
                        });
                }, 1000);
                isCheckingCapture = true;
                console.log("Started checking capture");
            }

        }


        document.addEventListener('DOMContentLoaded', function () {
            let isChecking = false;
            let intervalId;

            const addStudentButton = document.getElementById("addStudentButton");

            if (addStudentButton) {
                addStudentButton.addEventListener("click", function (event) {
                    event.preventDefault(); // Prevent form submission by default

                    // Get form input fields
                    const idStudentField = document.getElementById("id_student");
                    const studentNameField = document.getElementById("student_name");
                    const emailField = document.getElementById("email");
                    const phoneField = document.getElementById("phone");
                    const addressField = document.getElementById("address");
                    const birthdayField = document.getElementById("birthday");
                    const pathImageFolderField = document.getElementById("PathImageFolder");

                    console.log(idStudentField.value);


                    // Check if all fields are filled
                    if (
                        idStudentField.value === "" ||
                        studentNameField.value === "" ||
                        emailField.value === "" ||
                        phoneField.value === "" ||
                        addressField.value === "" ||
                        birthdayField.value === "" ||
                        pathImageFolderField.value === ""
                    ) {
                        alert("Vui lòng điền thông tin");
                    } else {
                        // Start or stop video feed based on isChecking flag
                        const videoElement = document.getElementById('video-feed');
                        let studentId = idStudentField.value;

                        if (isChecking) {
                            clearInterval(intervalId);
                            isChecking = false;
                            console.log("Stopped checking");
                        } else {
                            videoElement.src = `/admin/student-management/live_video_feed/${studentId}`;

                            // Start checking capture status
                            intervalId = setInterval(() => {
                                fetch("/admin/student-management/check_capture_status/") // Replace with the correct URL
                                    .then(response => response.json())
                                    .then(data => {
                                        console.log(data);

                                        if (data.capture_status === 1) {
                                            alert("Success");
                                            const form = document.getElementById("addStudentForm");
                                            form.submit();
                                            clearInterval(intervalId);
                                            isChecking = false;
                                        }
                                    })
                                    .catch(error => {
                                        console.error("Error:", error);
                                    });
                            }, 1000);
                            isChecking = true;
                            console.log("Started checking");
                        }
                    }
                });
            }

            const idStudentField = document.getElementById("id_student");
            const pathImageFolderField = document.getElementById("PathImageFolder");

            if (idStudentField) {
                idStudentField.addEventListener("change", function () {
                    const studentId = idStudentField.value;
                    pathImageFolderField.value = `./main/Dataset/FaceData/processed/${studentId}`;
                });
            }
        });


        document.getElementById('train-button').addEventListener('click', function () {
            let timerInterval
            Swal.fire({
                title: 'Thông báo!',
                html: 'Quá trình training đang được diễn ra, vui lòng đợi !!!!',
                timer: 20000,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading()
                    const b = Swal.getHtmlContainer().querySelector('b')
                    timerInterval = setInterval(() => {
                    }, 100)
                },
                willClose: () => {
                    clearInterval(timerInterval)
                }
            }).then((result) => {
                /* Read more about handling dismissals below */
                if (result.dismiss === Swal.DismissReason.timer) {
                    console.log('I was closed by the timer')
                }
            })
            fetch('/admin/student-management/train')
                .then(response => response.json())
                .then(data => {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: data.resuil,
                        showConfirmButton: false,
                        timer: 3000
                    });

                    // Làm mới trang sau khi thành công
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                })
                .catch(error => {
                    Swal.fire({
                        icon: 'error',
                        title: 'Lỗi',
                        text: 'Có lỗi xảy ra trong quá trình thực hiện yêu cầu.'
                    });
                    console.error('Fetch Error:', error);
                });
        });
    </script>
{% endblock %}



