{% extends "admin/base_admin_dashboard.html" %}

{% load static %}

{% block css %}
    <link href="{% static '' %}assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static '' %}assets/extra-libs/multicheck/multicheck.css"/>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h3 class="card-title mb-0">Danh sách sinh viên</h3>
        </div>
        <div class="card-body">
            <a href="" class="btn btn-success mdi mdi-account-plus text-white"
               id="addNotification">Thêm thông báo
            </a>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        <label class="customcheckbox mb-3">
                            <input type="checkbox" id="mainCheckbox"/>
                            <span class="checkmark"></span>
                        </label>
                    </th>
                    <th class="text-center" scope="col">Mã thông báo</th>
                    <th scope="col">Tiêu đề</th>
                    <th scope="col">Nội dung</th>
            <th class="text-center" scope="col" style="width: 200px;">Thao tác</th>
                </tr>
                </thead>
                <tbody class="customtable">
                        {% for blog_post in blog_posts %}
                        <tr>
                        <th>
                            <label class="customcheckbox">
                                <input type="checkbox" class="listCheckbox"/>
                                <span class="checkmark"></span>
                            </label>
                        </th>
                        <td class="text-center">{{ blog_post.id }}</td>
                        <td>{{ blog_post.title}}</td>
                        <td>{{ blog_post.body|safe }}</td>

                        <td class="text-center" style="width: 200px;">
                            <a href="javascript:void(0)" class="btn btn-danger btn-sm mdi mdi-delete" id="deleteStudent"
                               onclick="confirmDeleteStudent({{ student.id_student }})">Xóa</a>
                            <a href="javascript:void(0)" class="btn btn-primary btn-sm mdi mdi-account-edit"
                               onclick="editStudent({{ student.id_student }})">Sửa</a>
                        </td>
                    </tr>
                    {% include 'admin/modal-popup/popup_edit_student.html' %}

                {% empty %}
                    <tr class="text-center text-danger">
                        <td colspan="10"><strong>Không tồn tại thông báo nào trong cơ sở dữ liệu!</strong></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    {% include 'admin/modal-popup/popup_add_notification.html' %}

{% endblock %}
