{% extends "admin/base_admin_dashboard.html" %}

{% load static %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h3 class="card-title mb-3">Danh sách giảng viên</h3>
            <div class="d-flex justify-content-between mb-3">
                <a href="{% url 'admin_lecturer_add' %}" class="btn btn-success mdi mdi-account-plus text-white"
                   id="addLecturer">Thêm giảng viên
                </a>
                <div class="input-group-addon">
                    <input type="text" class="form-control" placeholder="Tìm kiếm...">
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center" scope="col">Mã giảng viên</th>
                    <th scope="col">Họ và tên</th>
                    <th scope="col">Email</th>
                    <th class="text-center" scope="col">Số điện thoại</th>
                    <th scope="col">Địa chỉ</th>
                    <th class="text-center" scope="col">Ngày sinh</th>
                    <th class="text-center" scope="col">Thao tác</th>
                </tr>
                </thead>
                <tbody>
                {% for lecturer in list_lecturers %}
                    <tr>
                        <td class="text-center">{{ lecturer.id_staff }}</td>
                        <td>{{ lecturer.staff_name }}</td>
                        <td>{{ lecturer.email }}</td>
                        <td class="text-center">{{ lecturer.phone }}</td>
                        <td>{{ lecturer.address }}</td>
                        <td class="text-center">{{ lecturer.birthday|date:"d/m/Y" }}</td>
                        <td class="text-center">
                            <a href="#" id="deleteLecturer" class="btn btn-danger btn-sm mdi mdi-delete"
                               onclick="confirmDeleteLecturer({{ lecturer.id_staff }})">Xóa</a>
                            <a href="#" id="editLecturer" class="btn btn-primary btn-sm mdi mdi-account-edit"
                               onclick="editLecturer({{ lecturer.id_staff }})">Sửa</a>
                        </td>
                    </tr>
                    {% include 'admin/modal-popup/popup_edit_lecturer.html' %}
                {% empty %}
                    <tr class="text-center text-danger">
                        <td colspan="10"><strong>Không tồn tại giảng viên nào trong cơ sở dữ liệu!</strong></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="pagination justify-content-center">
            <ul class="pagination">
                {% if list_lecturers.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">‹‹</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ list_lecturers.previous_page_number }}">‹</a>
                    </li>
                {% endif %}

                {% for i in list_lecturers.paginator.page_range %}
                    {% if list_lecturers.number == i %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% elif i > list_lecturers.number|add:'-3' and i < list_lecturers.number|add:'3' %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if list_lecturers.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ list_lecturers.next_page_number }}">›</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ list_lecturers.paginator.num_pages }}">››</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="text-center">
            <p>Trang {{ list_lecturers.number }} / {{ list_lecturers.paginator.num_pages }}</p>
        </div>
    </div>
    {% include 'admin/modal-popup/popup_add_lecturer.html' %}
    {% include 'admin/modal-popup/popup_delete_lecturer.html' %}
{% endblock %}

{% block js %}
    <script src="{% static '' %}assets/js/manage-lecturer.js"></script>
    <script>
        function confirmDeleteLecturer(lecturerId) {
            let deleteUrl = "{% url 'admin_lecturer_delete' '1' %}".replace('1', lecturerId);
            $('#confirmDeleteButton').attr('href', deleteUrl);
            $('#confirmDeleteModal').modal('show');
            $('#lecturerIdToDelete').text(lecturerId);
        }

        function editLecturer(lecturerId) {
            let id_lecturer = lecturerId
            let editForm = $('#editLecturerForm');
            editForm.attr('action', "{% url 'admin_lecturer_edit' '0' %}".replace('0', id_lecturer));
            $.ajax({
                    type: "GET",
                    url: "{% url 'admin_lecturer_get_info' '1' %}".replace('1', id_lecturer),
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        $('#id_lecturer').val(data.lecturer.id_staff);
                        $('#lecture_name').val(data.lecturer.staff_name);
                        $('#email').val(data.lecturer.email);
                        $('#phone').val(data.lecturer.phone);
                        $('#address').val(data.lecturer.address);
                        $('#birthday').val(data.lecturer.birthday);
                        $('#editLecturerModal').modal('show');
                    },
                }
            )
        }
    </script>
{% endblock %}
