{% extends "lecturer/base_lecturer_dashboard.html" %}


{% block content %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title text-info"><strong>THÔNG BÁO</strong></h2>
            <hr>
            {% for blog_post in blog_posts %}
                <div>
                    <h3 class="text-danger">{{ blog_post.title }}</h3>
                    <p>{{ blog_post.body|safe }}</p>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}