{% extends "lecturer/base_lecturer_dashboard.html" %}
{% load static %}

{% block css %}
    <link href="{% static '' %}assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static '' %}assets/extra-libs/multicheck/multicheck.css"/>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title mb-0">{{ classroom.name }}</h5>
        </div>
        <div class="table-responsive">
            <form method="post" action="{% url 'lecturer_mark_attendance' classroom.id_classroom %}">
                {% csrf_token %}
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-center" scope="col">MSSV</th>
                        <th scope="col">Họ và tên</th>
                        <th scope="col">Email</th>
                        <th class="text-center" scope="col">Số điện thoại</th>
                        <th class="text-center" scope="col">Ngày sinh</th>
                        <th class="text-center" scope="col">Thời gian điểm danh</th>
                        <th class="text-center" scope="col">Trạng thái điểm danh</th>
                    </tr>
                    </thead>
                    <tbody class="customtable">
                    {% for student in students_in_class %}
                        <tr>
                            <td class="text-center">{{ student.id_student.id_student }}</td>
                            <td>{{ student.id_student.student_name }}</td>
                            <td>{{ student.id_student.email }}</td>
                            <td class="text-center">{{ student.id_student.phone }}</td>
                            <td class="text-center">{{ student.id_student.birthday|date:"d/m/Y" }}</td>
                            <td class="text-center">
                                {% for attendance in attendance_list %}
                                    {% if attendance.id_student == student.id_student %}
                                        {{ attendance.check_in_time|date:"d/m/Y H:i:s" }}
                                    {% endif %}
                                {% empty %}
                                    Chưa điểm danh
                                {% endfor %}
                            </td>

                            <td class="text-center">
                                <label>
                                    <select class="form-select shadow-none"
                                            name="attendance_status_{{ student.id_student.id_student }}">
                                        <option value="1"
                                                {% for attendance in attendance_list %}
                                                {% if attendance.id_student.id_student == student.id_student.id_student and attendance.attendance_status == 1 %}selected
                                                {% endif %}
                                                {% endfor %}>Vắng mặt
                                        </option>
                                        <option value="2"
                                                {% for attendance in attendance_list %}
                                                {% if attendance.id_student.id_student == student.id_student.id_student and attendance.attendance_status == 2 %}selected
                                                {% endif %}
                                                {% endfor %}>Đúng giờ
                                        </option>
                                        <option value="3"
                                                {% for attendance in attendance_list %}
                                                {% if attendance.id_student.id_student == student.id_student.id_student and attendance.attendance_status == 3 %}selected
                                                {% endif %}
                                                {% endfor %}>Trễ
                                        </option>
                                    </select>
                                </label>
                            </td>
                        </tr>
                    {% empty %}
                        <tr class="text-center text-danger">
                            <td colspan="10"><strong>Danh sách sinh viên đang được cập nhật</strong>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="card-body">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary">Lưu trạng thái điểm danh</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

