{% extends "lecturer/base_lecturer_dashboard.html" %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thời Khóa Biểu</h4>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <a href="?week_start={{ previous_week_start }}" class="btn btn-sm btn-primary">Tuần Trước</a>
                <h5 class="mb-0">
                    Tuần từ ngày
                    <strong class="text-danger">{{ start_of_week|date:"d/m/Y" }}</strong>
                    đến ngày
                    <strong class="text-danger">{{ end_of_week|date:"d/m/Y" }}</strong>
                </h5>
                <a href="?week_start={{ next_week_start }}" class="btn btn-sm btn-primary">Tuần Sau</a>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th class="text-center" scope="col">Thứ</th>
                <th scope="col">Môn Học</th>
                <th class="text-center" scope="col">Thời gian bắt đầu</th>
                <th class="text-center" scope="col">Thời gian kết thúc</th>
            </tr>
            </thead>
            <tbody>
            {% for classroom in lecturer_classes %}
                <tr>
                    <td class="text-center">
                        {% if classroom.day_of_week_begin == 7 %}
                            Chủ Nhật
                        {% elif classroom.day_of_week_begin == 1 %}
                            Thứ Hai
                        {% elif classroom.day_of_week_begin == 2 %}
                            Thứ Ba
                        {% elif classroom.day_of_week_begin == 3 %}
                            Thứ Tư
                        {% elif classroom.day_of_week_begin == 4 %}
                            Thứ Năm
                        {% elif classroom.day_of_week_begin == 5 %}
                            Thứ Sáu
                        {% elif classroom.day_of_week_begin == 6 %}
                            Thứ Bảy
                        {% endif %}
                    </td>
                    <td>{{ classroom.name }}</td>
                    <td class="text-center">{{ classroom.begin_time|time:"H:i" }}</td>
                    <td class="text-center">{{ classroom.end_time|time:"H:i" }}</td>
                </tr>
            {% empty %}
                <tr class="text-center text-danger">
                    <td colspan="5"><strong>Không có giảng dạy trong tuần này!</strong>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
