<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mã hóa mật khẩu</title>
</head>
<body>
<h1>Mã hóa mật khẩu</h1>
<form method="post">
    {% csrf_token %}
    <label for="password">Mật khẩu:</label>
    <input type="text" name="password" id="password" required value="123">
    <button type="submit">Mã hóa</button>
</form>

{% if hash_password %}
    <h2>Mật khẩu đã mã hóa:</h2>
    <p>{{ hash_password }}</p>
    <button id="copyButton">Copy</button>
    </body>
    </html>

    <script>
        const copyButton = document.getElementById('copyButton');
        const hashPassword = "{{ hash_password }}";

        copyButton.addEventListener('click', function () {
            // Tạo một thẻ textarea ẩn
            const textarea = document.createElement('textarea');
            textarea.value = hashPassword;
            document.body.appendChild(textarea);

            // Lựa chọn và sao chép văn bản trong thẻ textarea
            textarea.select();
            document.execCommand('copy');

            // Xóa thẻ textarea ẩn
            document.body.removeChild(textarea);
        });
    </script>
{% endif %}